body  {
  font-family: sans-serif;
}

.App {
  text-align: center;
  margin-top: 100px;
}

.question{
  margin: 20px auto;
  width: 60%;
  border: 2px solid #c5ef621b;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 5px #c5ef621b;
}
 .question h2{
  margin-bottom: 50px;
 }

 .options {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
 }

 .options > li > button{
  margin-bottom: 10px;
  border: none;
  width: 100%;
  box-shadow: 0 0 5px #40a2084d;

 }

 button{
  padding: 15px 20px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  cursor: pointer;
  background-color: rgb(197, 221, 166);
 }

 button:hover{
  background-color: rgb(255, 255, 255);
 }

 .results{
  margin: 20px auto;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
 }
 .results ul{
  list-style: none;
  padding: 0;
 }
 .results span{
  color: red;
  font-weight: 800;
  text-decoration: underline;
  cursor: pointer;
  padding-left: 20px;
 }

 .results li {
  margin-bottom: 10px;
 }

 .results li[data-correct="true"] {
  color: green;
 }
 .results li[data-correct="false"] {
  color: red;
 }